


a {
  color: #050398;
  text-decoration: none;
}
li {
  list-style-type:none ;
}
.nav-link {
  text-transform: none;
  text-decoration: none;
  color: #1976d2;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.nav-link:hover {
  color: #76ace2;
}
.active {
  color: #14367b;
  font-size: 26px;
  line-height: 32px;
  font-weight: 600;
}
